.to-do-list{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7 rem;
  font-weight: bold;
  padding: 10px 20px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: hsl(125, 47%, 54%);
  margin: 6px;
}
.add-button:hover{
  background-color: hsl(120, 100%, 44%);
}
.delete-button {
  background-color: hsl(0, 99%, 37%);
}

.delete-button:hover {
  background-color: hsl(0, 82%, 52%);
}
.move-button {
  background-color: hsl(0, 0%, 97%);
}

.move-button:hover {
  background-color: hsl(0, 0%, 85%);
}

input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(233, 229, 229);
  border-radius: 5px;
  color: rgb(27, 27, 27);

}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: aliceblue;
  margin-bottom: 10px;
  border: 3px solid rgb(156, 152, 152);
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.text{
  flex:1

}
.delete-button,.move-button{

  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}
